{
  "extends": ["airbnb", "react-app/jest"],
  "rules": {
    "linebreak-style": 0,
    "global-require": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "jsx-a11y/aria-role": [
      2,
      {
        "allowedInvalidRoles": ["text"],
        "ignoreNonDOM": true
      }
    ]
  },
  "plugins": ["testing-library"],
  "globals": {
    "localStorage": true
  }
}
