.theme-container{
    width: 100vw;
    height: 100vh;    
}
.theme--icon{
  display: inline-block;
  width: 18px;
}
.theme__light {
  background-color: #fafafa;
  color: black;
}
.theme__dark {
    background-color: #525DAB;
    color: white;
}
  